body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.calculator {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.input-group select {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fff;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

#result {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

#interestFields {
  display: none;
}

/*  */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links li {
  display: inline;
  margin-right: 15px;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
}

.section {
  padding: 80px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3 {
  text-align: center;
}

.app-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.app-card img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  text-align: center;
}
